.wp-block-depay-payments-block, .wp-block-depay-payments-block * {
  outline: none !important;
}

.wp-block-depay-payments-block.align_right {
  display: inline-block;
  padding-left: 2rem;
  float: right;
}

.wp-block-depay-payments-block.align_left {
  display: inline-block;
  padding-right: 2rem;
  float: left;
}

.wp-block-depay-payments-block-settings-amount {
  position: absolute;
  top: -4px;
  right: -4px;
  background: black;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 4px;
  color: white;
  font-size: 12px;
}

.wp-block-depay-payments-block-settings-label {
  position: absolute;
  top: -4px;
  left: -4px;
  background: black;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 4px;
  color: white;
  font-size: 12px;
}
